
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Nanning</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

  <a href="/things">EXPLORE</a>
  <% if (user) { %>
  <a href="/logout">LOG OUT</a>
  <% } else { %>
    <a href="/auth/google" class="login">LOG IN</a>
  <% } %>
  <blk id="welcome">Welcome to</blk>

<img width="1500px" height="auto" src="https://www.topchinatravel.com/pic/cities-travel-guide-bg/nanning-travel-guide-bg.jpg">
<br>
<!-- <p style="padding: 10px; border: 2px solid rgb(0, 0, 0);">Nanning is known as the “Green City,” and the city streets are filled with trees of every kind. There are streets devoted to different varieties of trees such as Cotton Tree Street and Banyan Tree Street. The beautiful scenery of the city is brimming with vitality. Outside the city lie scenic places, such as the densely forested Qingxiu Mountain and Daming Mountain. Daming Mountain is one of the rare places in the south to see frost on the trees and peaks. If you enjoy ancient towns, you can also go to the old town of Yangmei, where there is not only well-preserved architecture from the Ming and Qing Dynasties, but also handfuls of special snacks, like sand cakes, for you to try. Nanning has a lot of unique local foods such as “old friend noodles” and local sour fruit snacks. Many people also travel through Nanning as a transit hub, as it offers convenient travel on to the Gulf of Tonkin or to Vietnam.</p> -->
</body>
</html>