
body {
  background-color: #dcedc8;
  padding: 50px;
  font: 20px 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.homepage {
  background-image: url(../images/nanning.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.background {
  width: 1520px;
  height: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

a {
  display: grid;
  justify-content: end;
  font-size: 23px;
  color: rgb(18, 53, 85);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input {
  font-size: 22px;
  font-family: cursive;
  margin-top: 10px;
}

select {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 3vh;
  width: 7vh;
  font-size: 20px;
}

.rating {
  margin-bottom: 10px;
}

.submit {
  font-size: 20px;
  height: 3vh;
  width: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

tbody {
  font-size: 20px;
}

#welcome {
  font-family: fantasy;
  font-size: 10vh;
  width: 100vh;
  height: auto;
}

.title {
  font-size: 50px;
  display: grid;
  justify-items: center;
}

blk {
  display: flex;
  align-items: baseline;
}

p {
  margin: 2vh;
  font-size: larger;
  font-weight: bold;
}

form {
  display: grid;
  justify-content: center;
  justify-items: start;
}

#list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumbnail {
  padding: 120px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: stretch; 
}

.object {
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.namelink {
  color: rgb(18, 53, 85);
 font-size: 27px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

textarea {
  width: 100vh;
  height: 10vh;
  font-size: 20px;
}

.comment {
  display: flex;
}

.review-user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
  margin-right: 10px;
}

.review-content {
  width: 150vh;
  font-size: 20px;
}

.ctable {
  display: flex;
  align-items: center;
}

.name {
  font-size: 50px;
}

#show-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.intro {
  margin-top: 50px;
}

.address {
  margin-top: 50px;
}

.picture {
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}