@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=Libre+Barcode+39+Text&display=swap');

body {
  background-color: #C6D59A;
  padding: 50px;
  font: 20px Verdana, Geneva, Tahoma, sans-serif;
}

.homepage {
  background-image: url(../images/nanning.jpg);
  background-size: cover;
}

#welcome {
  font-family: 'Rubik Glitch', cursive;
  font-size: 15vh;
  color: rgba(0, 0, 0, 0.7);
  position: fixed;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.navbar {
  display: flex;
  justify-content: space-between;
}

a {
  display: grid;
  justify-content: end;
  font-size: 66px;
  color: rgb(0, 0, 0);
  font-family: 'Libre Barcode 128 Text', cursive;
}

a:hover {
  color: rgb(255, 255, 255);
}

input {
  font-size: 22px;
  font-family: sans-serif;
  margin-top: 10px;
}

select {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 3vh;
  width: 7vh;
  font-size: 20px;
}

.rating {
  margin-bottom: 10px;
}

.submit {
  font-size: 20px;
  height: 3vh;
  width: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

tbody {
  font-size: 20px;
}

.title {
  font-size: 50px;
  display: grid;
  justify-items: center;
}

blk {
  display: flex;
  align-items: baseline;
}

form {
  display: grid;
  justify-content: center;
  justify-items: start;
}

#list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumbnail {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.object {
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.namelink {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-family: sans-serif;
}

textarea {
  width: 100vh;
  height: 10vh;
  font-size: 20px;
}

.comment {
  display: flex;
}

.review-user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
  margin-right: 10px;
}

.review-content {
  width: 150vh;
  font-size: 20px;
}

.name {
  font-size: 50px;
}

#show-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.intro {
  margin-top: 50px;
}

.address {
  margin-top: 50px;
}

.picture {
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  /* border: 1px solid #ffffff; */
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgb(255, 255, 255, 0.3);
}
